.CreatePost{
    // display: flex;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 20px;
    // gap: 20px;
    margin-top: 20px;
    .leftPart{
        flex-grow: 0;
        flex-shrink: 0 ;
        flex-basis: content;
    }
    .rightPart{
    flex-grow: 1;
    margin-top: 0;

        input{
            width: 94%;
            padding: 8px 16px;
            border: 1px solid var(--border-color);
            border-radius: 4px;
        }
        .img-container{
            margin-top: 20px;
            .post-img{
            width: 100%;
            aspect-ratio: 16 / 9;
            }
        }
        .label-img{
            display: inline-block;
            background-color: var(--accent-color);
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-end-end-radius: 50%;
            cursor: pointer;
        }
        .userImg{
            display: none;
        }
  
    }
    .bottom-part{
        display: flex;
        margin-top: 20px;
        margin-bottom: 3px;
        justify-content: space-between;
        gap: 20px;
        align-items: center;
        .icon{
            height: 30px;
            width: 30px;
            cursor: pointer;
            background-color: var(--accent-color);
            color: white;
            border-radius: 50%; 
        }
        .inputImage{
            display: none;
        }
    }
    .post-button{
        // margin-top: 10px;
    }
}